<div id="page-header"style="background-color:#101213;">
      <div class="row" style="height: 650px; padding-top: 200px;">

                  <div class="entete">
                    <%= link_to root_path do %>
                    <h1 class="titletop">
                      LIIIIINKS<span>.COM</span>
                    </h1>
                    <% end %>
                    <h4 class="little">
                      <span>S'inscrire au site et partager ses liens favoris</span>
                    </h4>
                    <span class="badge badge-success" style="vertical-align: super;"><%= notice %></span>
                    <span class="badge badge-alert" style="vertical-align: super;"><%= alert %></span>
                  </div>

      </div>
</div>

<div class="container">
  <div class="row" style="">

    <% if user_signed_in? %>
    <%= link_to(destroy_user_session_path, :method => :delete) do %>
    <div class="btnaddtop2"><i class="icon3 icon-logout"></i> <span>Se déconnecter</span></div>
    <% end %>
    <% else %>
    <%= link_to(new_user_session_path) do %>
    <div class="btnaddtop2"><i class="icon3 icon-login"></i> <span>Se connecter</span></div>
    <% end %>
    <% end %>

  </div>
</div>

<div class="container" style="background-color:#FFF;overflow:auto;padding:36px 36px 36px 36px;margin-top:-150px;">
<div class="form-signin">
  <h4 class="little2">
    <span>Inscription</span>
  </h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.email_field :email, {:class => 'form-control form-control-lg', :placeholder => 'Adresse e-mail', :required => true} %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, {:class => 'form-control form-control-lg', :placeholder => 'Mot de passe', :required => true} %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, {:class => 'form-control form-control-lg', :placeholder => 'Confirmer le mot de passe', :required => true} %>
  </div>

  <div class="actions">
    <%= f.submit 'Enregistrer', :class => 'btn btn-outline-primary hand btn-lg btn-block' %>
  </div>
<% end %>
</div>
</div>
