<div id="page-header"style="background-color:#101213;">
      <div class="row" style="height: 650px; padding-top: 200px;">

                  <div class="entete">
                    <%= link_to root_path do %>
                    <h1 class="titletop">
                      LIIIIINKS<span>.COM</span>
                    </h1>
                    <% end %>
                    <h4 class="little">
                      <span>Liste de tous les membres</span>
                    </h4>
                    <span class="badge badge-success" style="vertical-align: super;"><%= notice %></span>
                    <span class="badge badge-alert" style="vertical-align: super;"><%= alert %></span>
                  </div>

      </div>
</div>

  <div class="container">
    <div class="row" style="">

      <% if can? :create, Link %>
      <%= link_to new_link_path do %>
      <div class="btnaddtop"><i class="icon3 icon-add"></i> <span>Soumettre un lien</span></div>
      <% end %>
      <% end %>

      <% if user_signed_in? %>
      <%= link_to(destroy_user_session_path, :method => :delete) do %>
      <div class="btnaddtop2"><i class="icon3 icon-logout"></i> <span>Se déconnecter</span></div>
      <% end %>
      <% else %>
      <%= link_to(new_user_session_path) do %>
      <div class="btnaddtop2"><i class="icon3 icon-login"></i> <span>Se connecter</span></div>
      <% end %>
      <% end %>

      <% if can? :manage, User %>
      <%= link_to users_path do %>
      <div class="btnaddtop2"><i class="icon3 icon-members"></i> <span>Membres</span></div>
      <% end %>
      <% end %>


    </div>
  </div>

<div class="container" style="background-color:#FFF;overflow:auto;padding:36px 36px 36px 36px;margin-top:-150px;">
  <div class="form-signin">
    <h4 class="little2">
      <span>Membres</span>
    </h4>
  </div>
  <div class="row">
<% @users.each do |user| %>
<div class="col-md-4 border">
  <div class="icon-box icon-box-left">
    <div class="icon-box-icon fa-container">
      <img src="/user2.png">
    </div>
    <div class="icon-box-content">
      <div class="icon-box-heading icon-box-fa-1x" style="display:inline-block;">
           <h2><%= user.email %> <%= user.id %>
      </div>
      <p class="description">
      <p class="text-bold">
        <a class="btn-link" href="#" target="_blank" rel="nofollow">Voir le profil</a>
      </p>
    </div>
  </div>
</div>
<% end %>
</div>

</div>
