<div id="page-header"style="background-color:#101213;">
          <div class="row" style="height: 650px; padding-top: 200px;">

              <div class="entete">
                <%= link_to root_path do %>
                <h1 class="titletop">
                  LIIIIINKS<span>.COM</span>
                </h1>
                <% end %>
                <h4 class="little">
                  <span>Ajouter / Modifier un lien</span>
                </h4>
                <span class="badge badge-success" style="vertical-align: super;"><%= notice %></span>
                <span class="badge badge-alert" style="vertical-align: super;"><%= alert %></span>
              </div>

          </div>
    </div>

<div class="container">
  <div class="row">

    <%= link_to root_path do %>
    <div class="btnaddtop2"><i class="icon3 icon-home"></i></div>
    <% end %>

    <% if user_signed_in? %>
    <%= link_to(edit_user_registration_path) do %>
    <div class="btnaddtop2">
    <i class="icon3 icon-user"></i> <span>Mon profil</span></div>
    <% end %>
    <% else %>
    <%= link_to(new_user_registration_path) do %>
    <div class="btnaddtop2"><i class="icon3 icon-register"></i> <span>S'inscrire</span></div>
    <% end %>
    <% end %>

    <% if user_signed_in? %>
    <%= link_to(destroy_user_session_path, :method => :delete) do %>
    <div class="btnaddtop2"><i class="icon3 icon-logout"></i> <span>Se déconnecter</span></div>
    <% end %>
    <% else %>
    <%= link_to(new_user_session_path) do %>
    <div class="btnaddtop2"><i class="icon3 icon-login"></i> <span>Se connecter</span></div>
    <% end %>
    <% end %>

    <% if can? :manage, User %>
    <%= link_to users_path do %>
    <div class="btnaddtop2"><i class="icon3 icon-members"></i> <span>Membres</span></div>
    <% end %>
    <% end %>

    <% if can? :approve, Link %>
    <%= link_to links_approved_path do %>
    <div class="btnaddtop2"><i class="icon3 icon-accept"></i> <span>En attente</span></div>
    <% end %>
    <% end %>


  </div>
</div>

<div class="container" style="background-color:#FFF;overflow:auto;padding:36px 36px 36px 36px;margin-top:-150px;">
  <div class="form-signin">
    <h4 class="little2">
      <span>Lien</span>
    </h4>
    <h4 class="little3" style="line-height: 18px;">
      L'équipe de modérateur publiera votre lien sous 72h.
    </h4>
<%= form_for(link, multipart: true) do |f| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h1><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h1>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="resource-list">
  <div class="resource-icon2 center" style="display:none;">
     <%= image_tag link.logo.url %>
  </div>
  </div>
  <br>
  <div class="form-group">
    <%= f.text_field :name, {:class => 'form-control form-control-lg', :placeholder => 'Nom du site', :required => true} %>
  </div>

  <div class="form-group">
    <%= f.text_field :link, {:class => 'form-control form-control-lg', :placeholder => 'http://', :required => true} %>
  </div>

  <div class="form-group">
    <%= f.text_field :textlink, {:class => 'form-control form-control-lg', :placeholder => 'Description en quelques mots', :required => true} %>
  </div>

  <div class="form-group">
    <%= select_tag(:category_id, options_for_select(@categories, params[:condition]), :class => 'custom-select form-control-lg w100') %>
  </div>
  <% if can? :approve, Link %>
  <div class="form-group">
  <%= f.check_box :approved %> Publier le site
  </div>
  <% end %>
  <div class="form-group" style="display:none;">
  <%= f.file_field :logo, {:class => 'form-control form-control-lg'} %>
  </div>

  <div class="actions">
    <%= f.submit 'Enregistrer', :class => 'btn btn-outline-primary hand btn-lg btn-block' %>
  </div>

<% end %>
</div>
</div>
