<div id="page-header"style="background-color:#101213;">
      <div class="row" style="height: 650px; padding-top: 200px;">

                  <div class="entete">
                    <%= link_to root_path do %>
                    <h1 class="titletop">
                      LIIIIINKS<span>.COM</span>
                    </h1>
                    <% end %>
                    <h4 class="little">
                      <span>Se connecter au site et partager ses liens favoris</span>
                    </h4>
                    <span class="badge badge-success" style="vertical-align: super;"><%= notice %></span>
                    <span class="badge badge-alert" style="vertical-align: super;"><%= alert %></span>
                  </div>

      </div>
</div>

<div class="container">
  <div class="row" style="">

    <%= link_to root_path do %>
    <div class="btnaddtop2"><i class="icon3 icon-home"></i></div>
    <% end %>

    <% if user_signed_in? %>
    <%= link_to(edit_user_registration_path) do %>
    <div class="btnaddtop2">
    <i class="icon3 icon-user"></i> <span>Mon profil</span></div>
    <% end %>
    <% else %>
    <%= link_to(new_user_registration_path) do %>
    <div class="btnaddtop2"><i class="icon3 icon-register"></i> <span>S'inscrire</span></div>
    <% end %>
    <% end %>

  </div>
</div>

<div class="container" style="background-color:#FFF;overflow:auto;padding:36px 36px 36px 36px;margin-top:-150px;">
<div class="form-signin">
  <h4 class="little2">
    <span>Connexion</span>
  </h4>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, {:class => 'form-control form-control-lg', :placeholder => 'Adresse e-mail', :required => true} %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, {:class => 'form-control form-control-lg', :placeholder => 'Mot de passe', :required => true} %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group" style="display:none;">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit 'Se connecter', :class => 'btn btn-outline-primary hand btn-lg btn-block' %>
  </div>
<% end %>
</div>
</div>
