<div id="page-header"style="background-color:#101213;">
      <div class="row" style="height: 650px; padding-top: 250px;">

                  <div class="entete">
                    <h1 class="titletop">
                      LIIIIINKS<span>.COM</span>
                    </h1>
                    <h4 class="little">
                      <span>Ajouter / Modifier une catégorie</span>
                    </h4>
                  </div>

      </div>
</div>

<div class="container" style="background-color:#FFF;overflow:auto;padding:36px 36px 36px 36px;margin-top:-150px;">
  <div class="form-signin">
<%= form_for(category) do |f| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, {:class => 'form-control form-control-lg', :placeholder => 'Nom de la catégorie', :required => true} %>
  </div>

  <div class="form-group">
    <%= f.text_field :color, {:class => 'form-control form-control-lg', :placeholder => '#FFFFFFF', :required => true} %>
  </div>

  <div class="actions">
    <%= f.submit 'Enregistrer', :class => 'btn btn-outline-primary hand btn-lg btn-block' %>
  </div>

<% end %>
</div>
</div>
