<div id="page-header"style="background-color:#101213;">
      <div class="row" style="height: 650px; padding-top: 250px;">

                  <div class="entete">
                    <h1 class="titletop">
                      LIIIIINKS<span>.COM</span>
                    </h1>
                    <h4 class="little">
                      <span><%= @category.name %></span>
                    </h4>
                    <span class="badge badge-success" style="vertical-align: super;"><%= notice %></span>
                  </div>

      </div>
</div>

<nav class="navbar navbar-inverse bg-inverse hidden-lg-up" style="background-color:#101213 !important;">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="sidebar-navigation light">
         <div class="row">
            <div class="col-xs-12 col-sm-4">
               <li>
                 <%= link_to root_path do %>
                    <div class="circle"></div>
                    Récents
                 <% end %>
               </li>
            </div>
            <% @categories.each do |category_id| %>
            <div class="col-xs-12 col-sm-4">
              <li>
                 <%= link_to category_path(category_id) do %>
                    <div class="circle" style="background-color:<%= category_id.color %>"></div>
                    <%= Category.find(category_id).name %>
                 <% end %>
               </li>
            </div>
            <% end %>
            <div class="col-xs-12 col-sm-4">
              <li>
                 <%= link_to new_category_path do %>
                    <div class="circle-add"></div>
                    Ajouter
                 <% end %>
              </li>
            </div>
         </div>
      </ul>
   </div>
</nav>

<div class="container">
<div class="row" style="">
<%= link_to new_link_path do %><div class="btnaddtop"><i class="icon icon-add"></i></div><% end %>
</div>
</div>

<div class="container" style="background-color:#FFF;overflow:auto;padding:36px 36px 36px 36px;margin-top:-150px;">
   <div class="vertical-menu">
     <div class="row">
     <div class="col-md-12 hidden-sm-down">
        <ul class="sidebar-navigation">
           <li>
              <%= link_to root_path do %>
                 <div class="circle"></div>
                 Liens Récents
              <% end %>
           </li>
           <% @categories.each do |category_id| %>
           <li>
              <%= link_to category_path(category_id) do %>
                 <div class="circle" style="background-color:<%= category_id.color %>"></div>
                 <%= Category.find(category_id).name %>
              <% end %>
              <div class="actions2">
                <%= link_to edit_category_path(category_id) do %>
                <i class="icon2 icon-edit"></i>
                <% end %>
                <%= link_to category_id, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="icon2 icon-delete"></i>
                <% end %>
              </div>
           </li>
           <% end %>
           <li>
              <%= link_to new_category_path do %>
                 <div class="circle-add"></div>
                 Ajouter
              <% end %>
           </li>
        </ul>
      </div>
     </div>
   </div>
     <div class="vertical-contents">
     <div class="row" style="padding-left: 20px;">
            <% Link.where(category_id: @category.id).reverse_each do |link| %>
            <div class="col-md-6 border">
              <div class="icon-box icon-box-left">
                <div class="icon-box-icon fa-container">
                  <a href="<%= link.link %>" target="_blank" rel="nofollow">
                    <%= image_tag link.logo.url %>
                  </a>
                </div>
                <div class="icon-box-content">
                  <div class="icon-box-heading icon-box-fa-1x" style="display:inline-block;">
                    <a href="<%= link.link %>" target="_blank" rel="nofollow">
                       <h2><%= link.name %></h2>
                    </a>
                  </div>
                  <div class="actions2">
                    <%= link_to edit_link_path(link) do %>
                    <i class="icon icon-edit"></i>
                    <% end %>
                    <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="icon icon-delete"></i>
                    <% end %>
                  </div>
                  <p class="description"><%= link.textlink %></p>
                  <p class="text-bold">
                    <a class="btn-link" href="<%= link.link %>" target="_blank" rel="nofollow">Voir le site</a>
                  </p>
                </div>
              </div>
            </div>
            <% end %>
   </div>
 </div>
</div>
