<!DOCTYPE html>
<html>
  <head>
    <title>LIIIIINKS.COM</title>
    <%= csrf_meta_tags %>
    <meta name="robots" content="noindex">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,700' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900' %>

    <!-- Google reCAPTCHA -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111167648-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-111167648-1');
    </script>


  </head>
  <body>
    <%= yield %>
    <div class="form-signin" style="margin-top:20px;">
      <h4 class="little3">
      <span>Développé par<br/><br/><a href="https://kesa.co/" target="_blank"><img src="logo-kesaco-black.png"></a></span>
    </h4>
  </div>
  </body>
</html>
